# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Windows-style newline + 4-col tabs
[*]
end_of_line = cr
insert_final_newline = true
indent_style = tab
indent_size = 4
